.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: white;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__container_type_preview {
  display: flex;
  flex-direction: column;
  align-self: auto;
  background: transparent;
}

.modal__image {
  border-radius: 8px;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  margin-bottom: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal__close-btn:hover {
  opacity: 1;
  background-color: transparent;
}

.modal__close-btn_type_preview {
  position: absolute;
  background-image: url(../images/close-light.svg);
  right: -20px;
  width: 40px;
  height: 40px;
  opacity: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/close-dark.svg);
}

.modal__caption {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 24px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  margin: 0 0 32px;
  font-weight: 500;
  margin-bottom: 0;
  padding: 4px 8px;
  border-radius: 8px;
  width: fit-content;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border-width: 1px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 1);
  border-color: rgba(33, 33, 33, 0.4);
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.modal__input:hover {
  border-color: rgba(0, 0, 0, 0.8);
}
.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  color: rgba(252, 245, 229, 1);
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    font-size: 16px;
    line-height: 17.6px;
  }

  .modal__input {
    margin-bottom: 24px;
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    margin: 0;
    height: 52px;
  }
}

@media screen and (max-width: 320px) {
  .modal__content_type_preview {
    padding: 12px;
  }

  .modal__image {
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 500;
  }

  .modal__close-btn_type_preview {
    top: -35px;
    right: -125px;
    width: 100%;
  }
  .modal__container_type_preview {
    padding: 6px;
  }
}
