.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 36.44px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  color: #212121b2;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.22px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  border: 0;
  gap: 8px;
  justify-content: center;
  margin-top: auto;
  color: #212121;
  width: 107.34px;
  height: 16px;
  opacity: 0.7;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 18px 32px 18px 32px;
  border: 0;
  margin-left: auto;
  margin-top: auto;
  color: white;
  background-color: rgb(33, 33, 33, 1);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__column {
    margin-bottom: 20px;
    text-align: center;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    font-size: 16px;
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__edit-button {
    align-self: center;
  }

  .profile__add-button {
    max-width: 288px;
    width: 100%;
    font-size: 16px;
    margin: 0;
  }
}
