.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
  width: 190px;
  height: 190px;
}

.profile__avatar-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  padding-bottom: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  cursor: pointer;
  border: none;
  gap: 8px;
  /* TODO - finish avatar button styles */
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

/* when image is smaller use empty string in content*/
.profile__avatar-btn::after {
  content: "Edit Avatar";
  font-size: 16px;
  color: white;
  font-weight: 500;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  color: #212121;
  font-weight: 500;
  font-size: 32px;
  line-height: 36.44px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  color: #212121b2;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.22px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  border: 0;
  gap: 8px;
  justify-content: center;
  margin-top: auto;
  color: #212121;
  width: 107.34px;
  height: 16px;
  opacity: 0.7;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  background-color: transparent;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 18px 32px 18px 32px;
  border: 0;
  margin-left: auto;
  margin-top: auto;
  color: white;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
  }

  .profile__avatar-container {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
    position: relative;
  }

  .profile__avatar-btn {
    visibility: visible;
    width: 23.34px;
    height: 23.34px;
    top: auto;
    left: auto;
    bottom: 4.66px;
    right: 4.66px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    gap: 0;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  /* TODO - finish mobile avatar button styles*/

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__column {
    margin: 0 auto 20px;
    text-align: center;
    width: 100%;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    font-size: 16px;
    margin-bottom: 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    align-self: center;
  }

  .profile__add-btn {
    max-width: 288px;
    width: 100%;
    font-size: 16px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-btn {
    width: 100%;
  }

  .profile__edit-btn {
    width: 100%;
  }
}
